<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add hall</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div th:replace="~{navbar :: navigation(Halls)}"/>
    <h1 style="padding-top: 20px">Hall info:</h1>

    <form action="/add/hall" method="post" style="position: center; padding-top: 20px">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-6">
                <input type="text" name="name" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Lines:</label>
            <div class="col-sm-6">
                <input type="text" name="linesNum" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Places:</label>
            <div class="col-sm-6">
                <input type="text" name="seatsNum" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Type:</label>
            <div class="col-sm-6">
                <select class="custom-select my-1 mr-sm-2" name="hallType">
                    <option>DEFAULT</option>
                    <option>LUX</option>
                    <option>RELUX</option>
                    <option>IMAX</option>
                </select>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
</body>
</html>