<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<div th:fragment="navigation(activeTab)">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" th:classappend="${activeTab == 'Films' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/films}">Films</a>
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'Seances' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/seances}">Seances</a>
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'Halls' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/halls}">Halls</a>
                </li>
                <li class="nav-item" th:if="${isAuthenticated}" th:classappend="${activeTab == 'Tickets' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/tickets}">Tickets</a>
                </li>
                <li class="nav-item" th:if="${isAdmin}" th:classappend="${activeTab == 'Users' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/users}">Users</a>
                </li>
                <li class="nav-item" th:if="${!isAuthenticated}">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item" th:if="${!isAuthenticated}" th:classappend="${activeTab == 'Register' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item" th:if="${isAuthenticated}">
                    <form th:action="@{/logout}" method="POST">
                        <input type="submit" class="btn btn-primary" value="Logout" />
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>