<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>

    <title>Seances</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.css"> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker-standalone.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

    <script>
        $(function () {
            $('#date1').datetimepicker();
        });
        $(function () {
            $('#date2').datetimepicker();
        });
    </script>

</head>

<body>

<div class="container">
    <div th:replace="~{navbar :: navigation(Seances)}"/>

    <h1 style="padding-top: 20px">Seances</h1>
    <form style="margin-top: 10px" action="/seances" method="get" class="form-inline">
        <div class="col">
            <span>Start date:</span>
            <input type="text" id="date1" name="startDate" placeholder="mm/dd/yyyy hh:mm" />
            <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
        </div>
        <div class="col">
            <span>End date:</span>
            <input type="text" id="date2" name="endDate" placeholder="mm/dd/yyyy hh:mm" />
            <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
        </div>
        <div class="form-inline">
            <label class="my-1 mr-2" for="hallType">Hall type:</label>
            <select class="custom-select my-1 mr-sm-2" name="hallType" id="hallType">
                <option selected>any</option>
                <option>DEFAULT</option>
                <option>IMAX</option>
                <option>LUX</option>
                <option>RELUX</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Filter</button>
    </form>
    <span style="margin-top: 10px" th:if="${seances.size() == 0}"> Seance list is empty</span>
    <table style="margin-top: 3ch" th:if="${seances.size() > 0}" class="table">
        <thead class="thead-dark">
        <tr>
            <td scope="col">Date</td>
            <td scope="col">Film</td>
            <td scope="col">Price</td>
            <td scope="col">Hall</td>
            <td scope="col">Hall type</td>
            <td scope="col">Tickets</td>
            <td scope="col"></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="seance : ${seances}">
            <td th:text="${seance.date}"></td>
            <td th:text="${seance.film.name}"></td>
            <td th:text="${seance.price}"></td>
            <td th:text="${seance.hall.name}"></td>
            <td th:text="${seance.hall.hallType}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{'/seance/' + ${seance.id}}">Tickets</a>
            </td>
            <td th:if="${isAdmin}">
                <a class="btn btn-danger" th:href="@{'/delete/seance/' + ${seance.id}}" th:method="delete">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>